<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" th:content="${keywords}"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Books:</h1>

<table class="books">
    <thead>
    <tr>
        <th>Text</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h1>Links:</h1>
<br><a href="/swagger-ui/">Swagger UI</a>
<br><a href="/actuator/">Actuator</a>
<br><a href="/actuator/health/">BookShelf HealthCheck</a>
<br><a href="/nindex/">Notes index</a>
<br><a href="/bindex/">Books index</a>
<br><a href="/aindex/">Authors index</a>
<br><a href="/cindex/">Categories index</a>

<script>
    $(function () {
        $.get('/api/book').done(function (books) {
            books.forEach(function (book) {
                $('tbody').append(`
                    <tr>
                        <td>${book.id}</td>
                        <td>${book.name}</td>
                    </tr>
                `)
            });
        })
    });
</script>
</body>
</html>
